parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \.\.\.\$titles of static method PhpTui\\Tui\\Extension\\Core\\Widget\\TabsWidget\:\:fromTitles\(\) expects PhpTui\\Tui\\Text\\Line, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: example/demo/src/App.php

		-
			message: '#^Parameter \#1 \$data of method PhpTui\\Tui\\Extension\\Core\\Widget\\Chart\\DataSet\:\:data\(\) expects list\<array\{float, float\}\>, array\<int, array\{float, float\}\> given\.$#'
			identifier: argument.type
			count: 4
			path: example/demo/src/Page/ChartPage.php

		-
			message: '#^Parameter \#1 \$array \(list\<PhpTui\\BDF\\BdfGlyph\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: lib/bdf/src/BdfFont.php

		-
			message: '#^Parameter \$glyphs of class PhpTui\\BDF\\BdfFont constructor expects list\<PhpTui\\BDF\\BdfGlyph\>, array\<int, PhpTui\\BDF\\BdfGlyph\> given\.$#'
			identifier: argument.type
			count: 1
			path: lib/bdf/src/BdfParser.php

		-
			message: '#^Method PhpTui\\Docgen\\Renderer\\AggregateDocRenderer\:\:render\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: lib/docgen/src/Renderer/AggregateDocRenderer.php

		-
			message: '#^Property PhpTui\\Term\\Painter\\HtmlCanvasPainter\:\:\$chars \(list\<string\>\) does not accept non\-empty\-array\<int, string\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: lib/term/src/Painter/HtmlCanvasPainter.php

		-
			message: '#^Loose comparison via "\!\=" is not allowed\.$#'
			identifier: notEqual.notAllowed
			count: 2
			path: src/Bridge/PhpTerm/PhpTermBackend.php

		-
			message: '#^Parameter \#1 \$fg of class PhpTui\\Tui\\Color\\FgBgColor constructor expects PhpTui\\Tui\\Color\\Color, PhpTui\\Tui\\Color\\Color\|null given\.$#'
			identifier: argument.type
			count: 3
			path: src/Canvas/Grid/HalfBlockGrid.php

		-
			message: '#^Parameter \#2 \$bg of class PhpTui\\Tui\\Color\\FgBgColor constructor expects PhpTui\\Tui\\Color\\Color, PhpTui\\Tui\\Color\\Color\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Canvas/Grid/HalfBlockGrid.php

